@import "navbar.css";

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--color1);
  }
    
  h1 {
  }
  
  body {
    margin: 5 auto;
    padding-top: 100px;
    width: 90%;
  }

.main {
  display: flex;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 4;
  height: auto;
  flex-wrap: wrap;
  flex-direction:row;
}

.flexbox {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.left, .right {
  flex: 1;
  padding: 5px;
}

.fixed {
  position: fixed;
}

  .left {
    order: 1;
  }

  .right {
    order: 2;
  }
  
  .box, .project, .experience, .about {
    margin: 5;
    padding: 5;
    border-radius: 25px;
  }

  .project {
    flex: 1 0 40%;
  }

  .about {
    flex: 1 0 30%;
    aspect-ratio: 2;
    border-radius: 25px;
  }

  .wideAbout {
    flex: 1 0 100%;
    aspect-ratio: 6;
    border-radius: 25px;
  }

  p, 
  li {
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
  }

  input[type="image"] {
    border-radius: 25px;
  }

  .width25 {
    width: 25%;
  }

  .width75 {
    width: 75%;
  }

  .bordered {
    border: solid var(--color4);
    border-radius: 25px;
  }

  @media only screen and (max-width: 700px) {
    .width25 { width: 100%;}
    .width75 { width: 100%;}
    .about { flex: 1 0 100%;}
    .wideAbout { flex: 1 0 100%; aspect-ratio: 2;}
  }


