@import "navbar.css";

* {
    font-family: 'times new roman';
    background-color: var(--color1);
  }
    
  h1 {
  }
  
  body {
    margin: 5 auto;
    padding-top: 75px;
    width: 90%;
  }

iframe {
	border-radius: 25px;
}

.main {
  display: flex;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 4;
  height: auto;
  flex-wrap: wrap;
  flex-direction: row;
}

.flexbox {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.fixed {
  position: fixed;
}

  .box, .project, .experience, .about, .noGrow {
    margin: 5;
    padding: 5;
    border-radius: 25px;
  }

  .project {
    flex: 1 0 40%;
	border-radius: 25px;
  }

  .about {
    flex: 1 0 30%;
    aspect-ratio: 2.5;
  }

  .about input {
    aspect-ratio: 2.5;
  }

  .wideAbout {
    flex: 1 0 100%;
    aspect-ratio: 9;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
  }

.noGrow {
  width: fit-content;
  margin: 10% 50;
  display: block;
}

  p, 
  li {
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
  }

  input[type="image"] {
    border-radius: 25px;
  }

  .width25 {
    width: 25%;
  }

  .width75 {
    width: 75%;
  }

  .indexPic {
    flex: 0 4 70%;
  }

  .indexText {
    flex: 1 0 25%;
  }

  .bordered {
    border: solid var(--color4);
    border-radius: 25px;
  }

  @media only screen and (max-width: 700px) {
    .width25 { width: 100%;}
    .width75 { width: 100%;}
    .about { flex: 1 0 100%;}
    .wideAbout { flex: 1 0 100%; aspect-ratio: 2;}
    .fixed { position: relative;}
    .idexPic { flex: 1 0 100%;}
    .indexText { flex: 1 0 100%;}
  }


