@import "colors.css";

/* The navbar menu */
.navbar {
    height: auto; /* Full-height: remove this if you want "auto" height */
    width: 50%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Navbar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 20px;
    display: flex;
    border-bottom: solid var(--color4);
    padding-right: 50%;
    flex-wrap: wrap;
  }
  
  /* The navigation menu links */
  .navbar a {
    padding: 6px 6px 6px 6px;
    margin: 0 6px 0 0;
    text-decoration: none;
    font-size: 20px;
    color: var(--color3);
  }

  .socialbar a {
    padding: 0;
    margin: 0;
    text-decoration: none;
  }
  
  /* When you mouse over the navigation links, change their color */
  .navbar a:hover {
    color: var(--color5);
  }
    
  @media only screen and (max-width: 800px) {
    .navbar a { font-size: 12px; padding: 2px 2px 2px 2px;}
  }


  .socialbar {
    position: fixed;
    padding: 10px;
    right: 0;
  }